* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}
a,
li {
  list-style: none;
  text-decoration: none;
}
.header {
  color: white;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  height: 225px;
  width: 100%;
  object-fit: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 5rem;
  background-color: #333333;
}
h1 {
  font-weight: 400;
}
.nav_list {
  display: flex;
  justify-content: center;

  gap: 3rem;
}
.nav_list a {
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  gap: 4rem;
  color: white;
  transition: all ease 0.3s;
}
.nav_list a:hover {
  background-color: rgb(15, 168, 12);
}
.header img {
  width: 100%;
}
.content {
  display: flex;
  padding: 20px;
  width: 100%;
}
.content_item {
  width: 70%;
  gap: 30px;
  box-shadow: 0 0 1px gray;
}
.content_item_p {
  gap: 30px;
  line-height: 20px;
}
.categories {
  box-shadow: 0 0 1 gray;
}
.list_content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 15px;
}
.list_content a {
  color: black;
  font-size: 12px;
}
.list_content img {
  width: 7px;
  height: 6px;
}
