* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
a,
li {
  list-style: none;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content:center;
  align-items: center;
}
.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_list_item {
    gap:4rem;
}